<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eczema_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.graphs.graphTemp"></activity>
        <activity android:name=".ui.graphs.graphPollen" />
        <activity
            android:name=".ui.settings.Profile"
            android:label="Profile"
            android:parentActivityName=".ui.settings.SettingsActivity" /> <!-- <activity -->
        <!-- android:name=".ui.tools.graphStress"/> -->
        <activity android:name=".ui.graphs.graphHumidity" />
        <activity android:name=".ui.graphs.graphTime" /> <!-- <activity -->
        <!-- android:name=".ui.tools.testing" /> -->
        <!-- <activity -->
        <!-- android:name=".GraphActivity" -->
        <!-- android:label="@string/title_activity_graph" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".ui.settings.Locations"
            android:label="Location Services"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.Notifications"
            android:label="Notifications"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.log.MoreDetailsSymptomActivity"
            android:label="More Details"
            android:parentActivityName=".ui.log.LogActivity" />
        <activity android:name=".ui.log.LogActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>